In [11]:
import pandas as pd
import numpy as np

from sklearn.ensemble import AdaBoostClassifier, BaggingClassifier, GradientBoostingClassifier

from sklearn.experimental import enable_hist_gradient_boosting  # noqa
from sklearn.ensemble import HistGradientBoostingClassifier

In [12]:
data = pd.read_csv('Proj1_Data.csv', index_col=0)
data

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
RowNumber,,,,,,,,,,,,,
1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [13]:
np.unique(data['Geography'])

array(['France', 'Germany', 'Spain'], dtype=object)

In [14]:
data['Gender'] = data['Gender'].map(dict(zip(['Male','Female'],[0,1])))
data['Geography'] = data['Geography'].map(dict(zip(['France','Germany', 'Spain'],[0,1,2])))

In [15]:
from sklearn.model_selection import train_test_split
from sklearn import preprocessing


X = data.drop(['CustomerId', 'Surname', 'Exited'], axis=1)
y = data['Exited']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, shuffle=Trueclf_Adaclf_Ada)

NameError: name 'Trueclf_Adaclf_Ada' is not defined

In [ ]:
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix
def cal_accuracy(y_test, y_pred,y_pred_train,y_train): 
    print("Confusion Matrix: ", confusion_matrix(y_test, y_pred)) 
    print("Accuracy Test: ", accuracy_score(y_test, y_pred)*100) 
    print("Accuracy Train: ", accuracy_score(y_train, y_pred_train)*100) 
    print("Report : ", classification_report(y_test, y_pred))

def prediction(X_test, clf_object,X_train): 
    y_pred_test = clf_object.predict(X_test)
    y_pred_train = clf_object.predict(X_train)
    return y_pred_test,y_pred_train

In [ ]:
import xgboost as xgb

xgb_model = xgb.XGBClassifier(objective="binary:logistic", random_state=13, n_estimators=1000)
xgb_model.fit(X_train, y_train)
y_pred_test,y_pred_train = prediction(X_test, xgb_model,X_train) 
cal_accuracy(y_test, y_pred_test,y_pred_train,y_train)

In [ ]:
clf_GBC = GradientBoostingClassifier(random_state=13, )
clf_GBC.fit(X, y)
# clf_GBC.score(X,y)
y_pred_test,y_pred_train = prediction(X_test, clf_GBC,X_train) 
cal_accuracy(y_test, y_pred_test,y_pred_train,y_train)

In [ ]:
clf_Ada = AdaBoostClassifier(n_estimators=100, random_state=0)
clf_Ada.fit(X, y)
# clf_Ada.score(X, y)
y_pred_test,y_pred_train = prediction(X_test, clf_Ada,X_train) 
cal_accuracy(y_test, y_pred_test,y_pred_train,y_train)

In [ ]:
hist_model = HistGradientBoostingClassifier()
hist_model.fit(X, y)
y_pred_test,y_pred_train = prediction(X_test, hist_model,X_train) 
cal_accuracy(y_test, y_pred_test,y_pred_train,y_train)